<div class="row">
  <div class="six columns">
      <img src="http://placehold.it/1000x500" />
  </div>

  <div class="six columns">
    <h1>Be happier today!</h1>
    <a class="large button" href="#">Sign up today!</a>
  </div>
</div>

