<div class="profile-headline"> 
  <%= image_tag @user.avatar.url(:medium), :class => "profile" if @user.has_avatar %>
  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
 
 
