<a class="btn" href="/leaves/new">New Leaf</a>
<table>
  <% @leaves.each do |leaf| %>
    <tr>
      <td><%= link_to leaf.created_at.to_formatted_s(:short), leaf_path(leaf) %></td>
      <td><%= leaf.content %></td>
    </tr>
  <% end %>
</table>
